:root {
    --color-primary: green;
    --bg-body: #fff;
    --txt-body: #222;
}

/*pseudoclase para personalizada lo q este en root va a ser generalizada para todo solo si la cambio o no*/
.dark {
    --bg-body: #222;
    --txt-body: #f5f5f5;
    /* ojo esto para si usamos esta clase para ponerlo oscuro*/
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    /* importante el tipo de lentra y el box*/

}

*,
*::before,
*::after {
    box-sizing: inherit;
    /*esto es estandard para el boxing y q sea modulable*/
}

body {
    background-color: var(--bg-body);
    color: var(--txt-body);
    margin: 0;
    /*unico q se toco en clase, ojo con*/
}

h1,
h2,
h3 {
    color: var(--color-primary)
}

img {
    max-width: 100%;
    height: auto;
}

button {
    border: 4px solid transparent;
    /*ojo esto para q no se salga el borde*/
    background-color: lightgreen;
    border-radius: 4px;
    padding: 7px 12px;
    /*sto para q no se vea pegado*/
    color: black;
    cursor: pointer;
    transition: all .3s ease-in;
    /*esto es un estado definimos aqui que sucede cuando se da un envento ej hover, aqui debe llevar todas las funciones que quiero se apliquen cuando hay un evento*/
}

button:hover {
    background-color: white;
    border: 4px solid;
    color: green
}

/*modificadores, con estas clases ayuda a q se apliquen al html los mdificadores, con el fin de reutilizar clases y hacerlo simple*/
.darkMode {
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    /*esto porque los button son elemento en linea*/
}

/*HEADER NAV y LINKS DE CONTACTO*/

.header {
    position: fixed;
    /*la tachuela, fijarlo a un lado, alfiler*/
    height: 100%;
    background-color: var(--bg-body);
    top: 0;
    left: 130px;
    z-index: 99;
    /*para que nada este encima, solo con 100*/
}

.container__header {
    min-height: 100vh;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.header__nav {
    width: 180px;
    margin: 0 auto;
}

.nav__logo {
    font-size: 3rem;
    padding: 0 0 0 20px;
    text-align: right;
}

.nav__logo a {
    text-decoration: none;
    color: var(--txt-body);
    color: var(--color-primary);
    font-weight: bold;
}

.nav__menu {}

.nav__menu a {
    text-decoration: none;
    color: var(--txt-body);

}

.nav__menu ul {
    list-style: none;
    text-align: right;
    line-height: 2;
}

.nav__menu--link:hover a {
    color: var(--color-primary);

}


.header__redes {
    display: flex;
    flex-direction: column;
    margin: 0 10px 0 auto;
    /* height: 200px; */
    justify-content: space-between;
    padding-bottom: 20px;
    /*le agregue esto para q no tocara el fondo */
    row-gap: 7px;
}

.header__redes a {
    font-size: 2rem;
    background-color: var(--color-primary);
    color: #fff;
    padding: 0 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: 0.4s ease-in-out;
    justify-content: space-around;
    /*le agregue esto para q no tocara el fondo */
}

.header__redes a:hover {
    color: var(--color-primary);
    background-color: var(--bg-body);
    transform: scale(0.8);
}

/*SOBRE MI*/

.hero {
    width: 100%;
    padding-top: 50px;
}

.container__hero {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 0 400px;
}
.container__heroimg {
    position: relative;
}

.hero__img {
    width: 30%;
    padding-top: 20px;
    position: absolute
}

.hero__img img {
    border-radius: 100%;

}

/*HABILIDADES*/

.habs {
    width: 100%;
    padding-top: 15px;
}
.habs__container {
    max-width: 900px;
    min-width: 300px;
    margin: 0 auto 0 400px;
    font-family: inherit;

}
.icons__container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    /* justify-content: space-evenly; */

}

.habs__icons {
    display: flex;
    flex-direction: column;
    margin: 0 10px 0 auto;
    width: 100px;
    text-align: center;
}

/*FORMACION*/

.formacion {
    width: 100%;
}
.formacion__container{
    max-width: 900px;
    min-width: 300px;
    margin: 0 auto 0 400px;
}

swiper-container {
    /* width: 320px; */
    height: 450px;
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .slide_size{
    height:400px;
    display: flex;
    justify-content: center;
    align-items:center ;

  }


.cv {
    border: 4px solid greenyellow;
}

/*PROYECTOS*/

.proyectos {
    width: 100%;
}
.proyectos__container{
    
        max-width: 900px;
        min-width: 300px;
        margin: 0 auto 0 400px;
        font-family: inherit;  
    
}


.card__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 10px;
}

.porfolio__article {
    margin: auto;
}
.article__container img:hover {
    border: solid 2px var(--color-primary)
}


.article__container img {
    width: 100%;
    height: 215px;
    object-fit: cover;
}

.article__content {
    margin: auto;
}

.article__repositorio {
    padding-bottom: 5px;
}

.article__repositorio a {
    color: var(--color-primary)
}

.tec__html {
    border: 2px solid var(--txt-body);
    background-color: orangered;
    padding: 2px;
}

.tec__ccs {
    border: 2px solid var(--txt-body);
    background-color: lightblue;
    padding: 2px;
}

.tec__js {
    border: 2px solid var(--txt-body);
    background-color: rgb(214, 201, 16);
    padding: 2px;
}
.tec__react {
    border: 2px solid var(--txt-body);
    background-color: rgb(16, 214, 181);
    padding: 2px;
}

  /*CONTACTO*/
/* contacto{
    width: 100%;
    display: flex;
    align-content: center;
}
 */

 .contacto__container{
    max-width: 900px;
    min-width: 300px;
    margin: 0 auto 0 400px;
    font-family: inherit;
    
}
.contacto__formulario {
display: flex;
flex-direction:column;
gap: 10px;
/* margin: auto; */

}

.contacto input, textarea {
display: block;
width: 100%;
padding: 10px;
background-color: azure;
font-size: 16px;
border: 0.5px solid;
border-radius: 5px;
margin-bottom: 20px;
font-family: inherit;
}

/*PIE DE PAGINA*/
.footer__container {
    max-width: 900px;
    min-width: 300px;
    margin: 0 auto 0 400px;
    font-family: inherit;

}
.pie__pagina {
    width: 100%;
    padding-top: 20px;
}

.footer__container {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}


@media (max-width: 910px) {
    .header {
        left: 0;

    }

    .hero,
    .habs,
    .formacion,
    .contacto,
    .proyectos,
    .pie__pagina {
        margin: 0 auto 0 200px;
    }
}